<header class="page_header header_white">
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <a href="index.html">
                        <img src="images/logo_bambilandia.png" alt="Babysitter logo" class="top-logo">
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="social-icons">
                        <h4>"Educar en Valor, Amor y Libertad."</h4>
                    </div>
                </div>
                <div class="col-sm-4 text-right ">
                    <div class="contact-info">
                        <div class="contact-number">
                            <span>(01)</span> 418-8408
                        </div>
                        <div class="work-hours">
                            7:00 a.m. - 7:00 p.m.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu sf-menu" id="bari">
                        <li  class="active">
                            <a href="index.html">Inicio</a>
                        </li>                        

                        <li>
                            <a href="#">Nosotros</a>
                        </li>
                        
                        <li>
                            <a href="#">Servicios</a>
                            <ul>
                                <li>
                                     <a href="404.html">Psicologia</a>
                                  </li>
                                  <li> 
                                     <a href="faq.html">Danzas</a>
                                  </li>
                                  <li> 
                                     <a href="terms.html">Ballet</a>
                                  </li>
                                  <li>
                                     <a href="calculator.html">Karate</a>
                                 </li>                                
                            </ul>
                        </li>

                        <li>
                            <a href="#">Galeria</a>
                        </li>

                        <li>
                            <a href="#">Citas</a>
                        </li>

                        <li>
                            <a href="#">Guarderia</a>
                        </li>

                        <li>
                            <a href="contacts.html">Contáctanos</a>
                        </li>
                    </ul>
                </nav>
                <!-- eof main nav -->
                <div class="toggle_menu-wrap" data-spy="affix" data-offset-top="425">
                    <span class="toggle_menu"><span></span></span>
                </div>
            </div>

        </div>
    </div>
</header>